.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full{
    background:            linear-gradient(to left top, blue, red);
    background-attachment: fixed; /*edit*/
}

.odin{
    font-family:monospace;
}

a {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }